.cpt-persons
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

.cpt-person-single
  background-color #FFF
  padding 7px
  border-radius 4px
  .cpt-person-description, .cpt-person-excerpt
    p
     padding-top 0
  &.row
    .cpt-person-portrait
      float left
      margin-right 10px;
  &.block
    flex-grow: 1;
    flex-basis: 180px;
    margin-left 5px
    margin-right 5px
    margin-bottom 15px
    .cpt-person-portrait, header
      text-align center
